.link a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 17px;
}
.spinner {
  position: relative;
  top: 53%;
  left: 46%;
}
.loading {
  position: absolute;
  height: 100vh;
  width: 80vw;
  background-color: rgba(230, 233, 235, 0.5);
}
